.buttonAside{
color: black !important;
border: solid 2px black !important;
width: 120px !important;
border-radius: 30px !important;
height: 38px !important;
margin-bottom: 20px !important;
}
.img{
border-radius: 50% !important;
width: 50px !important;
height: 50px !important;
margin-right: 10px;
margin-top: 5px;
}
.item{
    border: none;
    
}

.borAside{
    border-bottom: solid 1px rgb(218, 209, 209);
    margin-bottom: 20px;
}
