body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav .form-control:focus {
  box-shadow: none!important;
  border: 2px solid black;
}

nav {
  border: 1px grey;
}

.hoverBlack:hover{
  color: black
}

@media only screen and (max-width: 576px) {
  .marginIco{
    margin-right: 12px!important;
  }
}

@media only screen and (min-width: 576px) {
  .marginIco{
    margin-right: 3rem!important;
  }
}

@media only screen and (max-width: 576px) {
  .icoMobile{
    display: none;
  }
  nav .form-control {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .icoMobile{
    display: block;
  }
}

.icoSearch {
  width: 30px;
}

@media only screen and (min-width: 576px) {
  .icoSearch {
    display: none;
  }
}





