body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rimuoviPunti{
  list-style-type: none!important;
}

svg{
  margin-top: 5px;
  margin-right: 5px;
}
li{
  font-size: smaller;
  list-style: none
}
.align-self-center li a{
  font-size: medium;
}
