body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav form .form-control:focus {
  box-shadow: none!important;
  border: 2px solid black;
}

nav {
  border: 1px grey;
}

/* @media only screen and (max-width: 576px) {
  nav a{
    margin-right: 0px!important;
  }
} */

@media only screen and (max-width: 576px) {
  .icoMobile{
    display: none;
  }
  nav .form-control {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .icoMobile{
    display: block;
  }
}





